### QUANT UNIVERSITY - APPLIED DATA SCIENCE LAB ###

### Python 011 ###

### Python: Getting Started ###

In [ ]:
Simple Calculations
In addition to all the more complex things you can do in Python, 
it is also useful for completing simple mathematical operations.

### Addition and Subtraction ###

Add numbers together like this:

In [6]:
1 + 1

2

In [ ]:
Notice that you don't need to include = in order to make the operation work.

In [ ]:
Subtract numbers like this:

In [7]:
2 - 1

1

### Division ###

Divide numbers like this:

In [8]:
4 / 2

2.0

In [ ]:
Remember that Python will return an error if you try to divide by 0!

In [ ]:
Modulo Division

Perform modulo division like this:

In [9]:
5 % 2

1

### Multiplication ###

Multiply numbers like this:

In [10]:
4 * 2

8

### Exponential ###
Add exponents to numbers like this:

In [12]:
4**2

16

### Order of Operations - BODMAS ###

In [ ]:
Just like everywhere else, Python works on a specific order of operations. That order is:

Parentheses Exponents Multiplication Addition Subtraction

In [ ]:
If you remember being taught PEMDAS, then this is the same thing! All the operations in Python work with levels of parentheses, so if you wanted to add two numbers together, and then add another number to the result, the code would look like this:

In [14]:
(6 + 4) + 4

14

In [ ]:
Things get more complicated when we add more terms to the equation, but the principle remains the same: if you open a set of parentheses, make sure you close it too. Here's an example that uses all the PEMDAS possibilities:

In [13]:
(((5**3 + 7) * 4) / 16 + 9 - 2)

40.0

### Data Types ###

In [ ]:
There are lots of different types of data in the world, and Python groups that data into several categories.

Boolean (bool):

Any data which can be expressed as either True or False.
Used when comparing two values. For example, if you enter 10 > 9, Python will return True.
String (str):

Data that involves text — either letters, numbers, or special characters.
Strings are enclosed in either single- or double-quotation marks: "string-1" or 'string-2'.
Numeric (int, float, complex):

Data that can be expressed numerically.
An integer, or int, is a whole number, positive or negative, without decimals, of unlimited length: 123.
A floating-point number, or float, is a number, positive or negative, containing one or more decimals: 123.01.
A complex number, or complex, are imaginary numbers, designated by a j: (3 + 6j).
Sequence (list, tuple, set):

Data that is a collection of discrete items.
A list is collection that is ordered and changeable. It's designated using square brackets [], and items can be of different data types: ["red", 1, 1.03, 1].
A tuple is a collection which is ordered and unchangeable. It's designated using parentheses (): ("red", 1, 1.03, 1).
A set is a collection which is unordered, unchangeable, and does not permit duplicate items. It's designated using curly brackets {}: {"red", 1, 1.03}.

### Mapping (dict): ###

In [ ]:
Dictionaries store data in key-value pairs. They're designated using curly brackets {}, like a set, 
but notice that keys and values are associated with each other using a colon :. 
    Each pair is separated from the next using a comma ,.
dict1 = {
    "department": "quindio", 
    "property_type": "house", 
    "price_usd": 330899.98
}

### Lists ###

In [ ]:
Lists
In Python, a list is a collection of data that stores multiple items in a single variable. 
These items must be ordered, able to be changed, and can be duplicated. A list can store data of multiple types; 
not all the items in the list need to be the same type.

### CREATING A LIST ###

In [1]:
price_usd = [97919.38, 300511.20, 293758.14]
print(price_usd)

[97919.38, 300511.2, 293758.14]

### Working with Lists ###

In [ ]:
After you've created a list, you can access any item on the list by referring to the item's index number. 
Keep in mind that in Python, the first item in a list is always 0.

Let's access the second item of our price_usd list.

print(price_usd[1])

In [2]:
print(price_usd[1])

300511.2

In [3]:
print(price_usd[-1])

293758.14

In [4]:
print(price_usd[2])

293758.14

In [ ]:
## Practice ##

Try it yourself! Create and print a list that shows the area of the houses, called area_m2. 
Include the items 187.0, 82.0, and 235.0.

In [5]:
area_m2 = [187.0, 82.0, 235.0]
print(area_m2)

[187.0, 82.0, 235.0]

### NEGATIVE INDEXING  ###

In [ ]:
If we want to access the an item at the end of the list, we can use negative indexing. 
In negative indexing, -1 refers to the last item, -2 to the second to last, and so on.

Let's access the last item in our department list.

print(price_usd[-1])
Practice

Try accessing the second item in your area_m2 list.

​
Try accessing the last item in the same list.

​

In [7]:
price_usd = [97919.38, 300511.20, 293758.14]  ## accessing the second item in your area_m2 list.##
print(price_usd[-2])

300511.2

In [8]:
price_usd = [97919.38, 300511.20, 293758.14]  ## accessing the last item in the same list ##
print(price_usd[-1])

293758.14

### Aggregating Items ###

In [ ]:
### Practice ### 

Try it yourself! Calculate the total area of the houses on your area_m2 list, and find the average area of all the houses
on the list.

total_area_m2 = ...
print(total_area_m2)
average_area_m2 = ...
print(average_area_m2)

In [ ]:
We can also aggregate items on a list to make analyzing the list more useful. 
For example, if we wanted to know the total value in US dollars of the houses on our price_usd list, 
we could use the sum method.

total_usd = sum(price_usd)
We might also be interested in the average value in US dollars of the houses on the same list. To find the average, we add the len method to the sum method.

average_usd = sum(price_usd) / len(price_usd)
Practice

Try it yourself! Calculate the total area of the houses on your area_m2 list, and find the average area of all the houses on the list.

In [25]:
total_usd = sum(price_usd)
average_usd = sum(price_usd) / len(price_usd)

In [17]:
area_m2 = [187.0, 82.0, 235.0]

In [22]:
area_m2 = [187.0, 82.0, 235.0]
total_area_m2 = sum(area_m2)
print(total_area_m2)

504.0

In [21]:
area_m2 = [187.0, 82.0, 235.0]
average_area_m2 = sum(area_m2) / len(area_m2)
print(average_area_m2)

168.0

In [13]:
my_list = [1,2,3]
Total_my_list = sum(my_list)

### Python for Loops ###

In [ ]:

A for Loop is used for executing a set of statements for each item in a list.

Working with for Loops
There can be as many statements as there are items in the list, but to keep things manageable, let's use our list of real estate values in Colombia.

In [2]:
price_usd = [97919.38, 300511.20, 293758.14, 540244.86]
print(price_usd)

[97919.38, 300511.2, 293758.14, 540244.86]

In [ ]:
We might want to see each of the values in the list, so we insert a for Loop:

In [4]:
price_usd = [97919.38, 300511.20, 293758.14, 540244.86]
for x in price_usd:
    print(x)

97919.38
300511.2
293758.14
540244.86

In [ ]:
Note that the print command is indented.

Practice

Try it yourself using the area_m2 list:

In [ ]:
In Python, a dictionary is a collection of data that occurs in an order, is able to be changed, and does not allow duplicates. 
Data in a dictionary are always presented as keys and values, and those key-value pairs cannot be duplicated in the dataset.

Creating Dictionaries
Dictionaries can be as big or as small as you like. 
Let's create a small dictionary based on data from the Colombian real estate market to give us something to work with.

Dictionaries are written with curly brackets, with key-value pairs inside. Code for a small dictionary looks like this:

In [54]:
colomdict = {
    "property_type": "house",
    "department": "quindio",
    "area": 235.0,
}

In [33]:
print(colomdict)

{'property_type': 'house', 'department': 'quindio', 'area': 235.0}

In [ ]:
Practice

Try it yourself! 
Create and print a dictionary called bogota with the key-value pairs "price_usd": 121,555.09, "area_m2": 82.0, and "property_type": "house"

In [57]:
bogota = {
          "price_usd": "121,555.09",
          "area_m2": 82.0, 
          "property_type": "house"
         }

In [59]:
print(bogota)

{'price_usd': '121,555.09', 'area_m2': 82.0, 'property_type': 'house'}

In [ ]:
bogota = {
          "price_usd": 121,555.09,
          "area_m2": 82.0, 
          "property_type": "house"
         }

In [58]:
print(bogota)

{'price_usd': '121,555.09', 'area_m2': 82.0, 'property_type': 'house'}

In [42]:
bogota = {
    "property_type": "house",
    "price_usd": 121,555.09,
    "area_m2": 82.0,
}

SyntaxError: invalid syntax (Temp/ipykernel_18340/1642667664.py, line 3)

### Working with Dictionaries ###

In [ ]:
After you've created a dictionary, you can access any item by using its key name inside square brackets.

Going back to our example dictionary, let's access the value for "department".

In [43]:
colomdict = {
    "property_type": "house",
    "department": "quindio",
    "area": 235.0,
}

In [39]:
print(colomdict)

{'property_type': 'house', 'department': 'quindio', 'area': 235.0}

In [38]:
x = colomdict["department"]
print(x)

quindio

In [41]:
y = colomdict["property_type"]
print(y)

house

In [44]:
z = colomdict["area"]
print(z)

235.0

### Dictionary Keys ###

In [ ]:
Sometimes you want to know what the keys are in the dictionary, or you want to iterate through the dictionary. In such cases, you need to write code to access all keys in a dictionary by utilizing the keys method:

colomdict.keys()
If you need to use the keys in a list, you can transform the output:

list(colomdict.keys())
You can also iterate though colomdict.keys() without converting it to a list:

for k in colomdict.keys():
    print(k)
Practice

print the value of each key in the colomdict dictionary

​

In [45]:
colomdict.keys()

dict_keys(['property_type', 'department', 'area'])

In [46]:
list(colomdict.keys())

['property_type', 'department', 'area']

### JSON ###

In [63]:
JSON stands for Java Script Object Notation, and it's a text format for storing and transporting data.

Working with JSON
JSON works by creating key-value pairs, where the key is data that can be represented by letters (called a string). 
JSON values can be strings, numbers, objects, arrays, boolean data, or null. 
JSON usually comes as a list of dictionaries, which look like this:

Here's an example from our colombia-real-estate-1 dataset with two key-value pairs that both include string values:

SyntaxError: invalid syntax (Temp/ipykernel_18340/694356881.py, line 1)

In [50]:
[
    {"property_type": "house", "department": "bogota"},
    {"property_type": "house", "department": "bogota"},
    {"property_type": "house", "department": "bogota"},
]

[{'property_type': 'house', 'department': 'bogota'},
 {'property_type': 'house', 'department': 'bogota'},
 {'property_type': 'house', 'department': 'bogota'}]

In [ ]:
Here's an simplified example from our colombia-real-estate-1 dataset with two key-value pairs that both include string values:

In [48]:
{"property_type": "house", "department": "bogota"}

{'property_type': 'house', 'department': 'bogota'}

In [49]:
{"area_m2": 187.0, "price_usd": 330899.98}

{'area_m2': 187.0, 'price_usd': 330899.98}

In [51]:
{"property_type": "house", "price_usd": 330899.98}

{'property_type': 'house', 'price_usd': 330899.98}

In [60]:
import pandas as pd

In [ ]:
df = pd.read_csv("mexico-real-estate-1.csv")

In [64]:
df = pd.read_csv("mexico_real_estate 01.txt")

In [65]:
df

,property_type,state,lat,lon,area_m2,price_usd
0,house,Estado de México,19.560181,-99.233528,150.0,"$67,965.56"
1,house,Nuevo León,25.688436,-100.198807,186.0,"$63,223.78"
2,apartment,Guerrero,16.767704,-99.764383,82.0,"$84,298.37"
3,apartment,Guerrero,16.829782,-99.911012,150.0,"$94,308.80"
4,house,Veracruz de Ignacio de la Llave,NaN,NaN,175.0,"$94,835.67"
...,...,...,...,...,...,...
695,house,Morelos,NaN,NaN,310.0,"$237,089.17"
696,house,Yucatán,21.050653,-89.558841,334.0,"$137,017.34"
697,house,Yucatán,21.343796,-89.262060,130.0,"$110,404.35"
698,apartment,Nuevo León,NaN,NaN,155.0,"$184,446.42"
699,house,Querétaro,20.587378,-100.418361,106.0,"$56,637.97"

In [70]:
df2 = pd.read_csv("mexico-real-estate-2.txt")

In [71]:
df2

    property_type             state        lat         lon  area_m2  price_mxn
0       apartment        Nuevo León  25.721081 -100.345581     72.0  1300000.0
1       apartment            Puebla        NaN         NaN    190.0  2500000.0
2           house           Morelos  23.634501 -102.552788    360.0  5300000.0
3           house           Morelos        NaN         NaN     76.0   820000.0
4           house            Puebla        NaN         NaN    200.0  1100000.0
..            ...               ...        ...         ...      ...        ...
695         house           Morelos  18.917542  -98.963181    140.0  1450000.0
696         house  Distrito Federal  19.472128  -99.146697    190.0  1943000.0
697         house  Estado de México  19.234984  -99.558175    115.0  2100000.0
698         house            Puebla  18.918714  -98.426639     90.0   890000.0
699         house           Yucatán  21.075163  -89.516731    185.0  1695000.0

[700 rows x 6 columns]

In [69]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  700 non-null    object
 1   state          700 non-null    object
 2   lat            571 non-null    float64
 3   lon            571 non-null    float64
 4   area_m2        700 non-null    float64
 5   price_mxn      700 non-null    float64
dtypes: float64(4), object(2)
memory usage: 32.9+ KB

In [73]:
df2.shape

(700, 6)

In [74]:
df2.head()

  property_type       state        lat         lon  area_m2  price_mxn
0     apartment  Nuevo León  25.721081 -100.345581     72.0  1300000.0
1     apartment      Puebla        NaN         NaN    190.0  2500000.0
2         house     Morelos  23.634501 -102.552788    360.0  5300000.0
3         house     Morelos        NaN         NaN     76.0   820000.0
4         house      Puebla        NaN         NaN    200.0  1100000.0

In [75]:
df2.head(10)

  property_type             state        lat         lon  area_m2  price_mxn
0     apartment        Nuevo León  25.721081 -100.345581     72.0  1300000.0
1     apartment            Puebla        NaN         NaN    190.0  2500000.0
2         house           Morelos  23.634501 -102.552788    360.0  5300000.0
3         house           Morelos        NaN         NaN     76.0   820000.0
4         house            Puebla        NaN         NaN    200.0  1100000.0
5         house   San Luis Potosí        NaN         NaN    162.0  1860000.0
6     apartment  Estado de México  19.272040  -99.572013     85.0  1250000.0
7         house   San Luis Potosí  22.138882 -100.996510    158.0  2120000.0
8     apartment  Distrito Federal  19.394558  -99.129707     65.0   758190.0
9         house           Morelos        NaN         NaN    216.0  2750000.0

In [76]:
df2.tail()

    property_type             state        lat        lon  area_m2  price_mxn
695         house           Morelos  18.917542 -98.963181    140.0  1450000.0
696         house  Distrito Federal  19.472128 -99.146697    190.0  1943000.0
697         house  Estado de México  19.234984 -99.558175    115.0  2100000.0
698         house            Puebla  18.918714 -98.426639     90.0   890000.0
699         house           Yucatán  21.075163 -89.516731    185.0  1695000.0

In [77]:
df2.describe()

              lat         lon     area_m2     price_mxn
count  571.000000  571.000000  700.000000  7.000000e+02
mean    20.983555  -99.012350  173.754286  2.190765e+06
std      2.959004    5.227166   78.535211  1.237497e+06
min     16.228815 -117.038495   60.000000  6.260000e+05
25%     19.287224 -100.442642  110.000000  1.250000e+06
50%     20.302476  -99.201675  160.000000  1.850000e+06
75%     21.156042  -98.244797  224.250000  2.835750e+06
max     32.647057  -86.817017  385.000000  6.100000e+06